body{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}

.listing-link{
    text-decoration: none;
}
 /* navbar */
 .navbar{
    height:5rem;
    background-color: white;
 }
 .fa-suitcase{
    color:palevioletred;
    font-size: 2rem ;
 }
 .nav-link{
    color:#222222  !important;
 }
 /* footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color:pink;
}
.f-info{
    display: flex;
    text-align: center;
    background-color: #ebebeb;
    height:5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links{
    width:100%;
}
.f-info-socials{
    width:100%;
    font-size:1.5rem;
    vertical-align: middle;
}

/* cards */
.card{
    border:none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius:1rem !important;
    width:100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400;
}
/* card overlay */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
.show-img{
    height:30vh;
}